.nav {

    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: darkmagenta;


}

.head {

    color: white;
    margin-left: 20px;
}

.link {

    margin-right: 20px;
}

.link a {

    text-decoration: none;
    color: white;
    margin: 10px;
}