.card {

    width: 20rem;
    padding: 15px;
    margin-top: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

}

.card img {

    width: 100%;
}

.btn {

    background-color: darkmagenta;
    width: 100%;
    color: white;
    border: none;
    padding: 10px;
    margin: 20px 0 0 0;
}

.btn:hover {

    background-color: rgb(65, 2, 65);
}